extends ../layout/layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")


block content 
    if(prods.length > 0)

        div.product__main
            h1 Products
            div.all__products
                each product in prods
                    div.product__details
                        h2.product__title #{product.name}
                        img.product__img(src=product.image)
                        div.product__offers
                            h3.product__price £#{product.price}
                            p.product__desc #{product.description}
                            div.edit__delete 
                                a(href=`/admin/edit-product/${product.id}`)
                                    button.product__add-to-cart Edit
                                    
                                form(action=`/admin/delete-product`, method="post") 
                                    input(type="hidden", name="productId", value=`${product.id}`)
                                    button.product__add-to-cart(type="submit") Delete
                                    
                            if(product.isDelete)                         
                                div.delete-prompt
                                    p Are you sure you want to delete this product ?
                                    form(action=`/admin/delete/${product.id}`, method="post") 
                                    div.edit__delete 
                                        button.product__add-to-cart(type="submit") Yes 
                                        button.product__add-to-cart() No
                            
    else 
        main.shop-body
            h1 No products available


