extends ../layout/layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")
block content
    if(prod.length > 0)

        div.product__main
            .order-top
                h1 My Orders
                h4.total-price Total order amount: £#{totalPrice}
            div.all__cart
                each orders in prod
                        div(class="cart__details order__details")
                            p ##{orders._id}
                            each product in orders.products
                                div.cart__offers
                                    p.cart__title #{product.name}
                                    p.cart__price Qty: #{product.orderItem.quantity}
                                p ||
                                p #{p}
                                    
    else 
        main.shop-body
            h1 No ordered products
