extends ../layout/layout.pug

block styles
     link(rel="stylesheet" href="/css/shop.css")

block content
    if(prods.length > 0)

        div.product__main
            h1 My Products
            div.all__products
                each product in prods
                    div.product__details
                        h2.product__title #{product.name}
                        img.product__img(src=product.imageUrl)
                        div.product__offers
                            h3.product__price £#{product.price}
                            p.product__desc #{product.description}
                            div.details__add-to-cart 
                                a(href=`/products/${product._id}`)
                                    button.product__add-to-cart Details
                                form(action="/shop-add-to-cart" method="post") 
                                    button.product__add-to-cart Add to cart
                                    input(type="hidden", name="productId", value=`${product._id}`)

    else 
        main.shop-body
            h1 No products available
